p {
	color: red;
	/*margin: 10 px auto 0 px auto;*/
	text-align: center;
	}	
body {
	background: black;}
/*div.test {
	color: green;
	margin-right: auto;
}*/
h2 {
	color: white;
	margin: 10 px auto 0 px auto;}