:root {
	font-size: calc(0.5em + 0.5vw);
	box-sizing: border-box;
}
*,
::before,
::after {
	box-sizing: inherit;
}
body {
	background: #F1F1F1;
}
header, div {
	border: 1px solid;
	margin: 0px;
	padding: 0px;
}
.leftside-header {
	position: absolute;
	background: green;
	width: 50%
}
.logo-pic {
	width: 10em;
}
.logo-main {
	float: left;
	width: 50%;
}
.tech-main {
	float: left;	
	width: 50%;
}
