p {
	color: red;
	/*margin: 10 px auto 0 px auto;*/
	text-align: center;
	}	
body {
	background: orange;}
/*div.test {
	color: green;
	margin-right: auto;
}*/
h2 {
	color: white;
	margin: 10 px auto 0 px auto;}
.div-ognik {
	background: black;
	border: 2px dotted red;
	width: 333px;
}
.div-ognik .pic-ognik {
	width: 95%;
}