:root {
	font-size: calc(0.5em + 0.5vw);
	box-sizing: border-box;
}
*,
::before,
::after {
	box-sizing: inherit;
}
body {
	background: #F1F1F1;
}
header, div {
	border: 1px solid;
	margin: 3px;
	padding: 3px;
}
.leftside-header {
	background: green;
	width: 50%
}
.logo-pic {
	width: 100em;
}